@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: #fff;
}


// Mobile
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-logo {
        position: absolute;
        top: 30px;
        color: #fff;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    .social-icons {
        position: absolute;
        top: 80px;

        img {
            padding: 0 12px;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture {
        z-index: -1;

        img {
            width: 174px;
            height: auto;
        }
    }

    .pattern-rings {
        position: absolute;
        top: 120px;
        left: -350px;
        z-index: -2;
    }

    .pattern-circle {
        position: absolute;
        top: 250px;
        right: -70px;
        z-index: -2;
    }

    .hero-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .hero-heading {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-top: 30px;
        }

        .hero-sub-texts {
            font-size: 16px;
            line-height: 26px;
            margin-top: 30px;
        }

        .hero-name {
            border-bottom: 5px solid #4ee1a0;
        }

        .hero-button {
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            margin-top: 30px;
            padding-bottom: 6px;
            border-bottom: 1px solid #4ee1a0;

            a {
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}



//Tablet

//Desktop