@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Chivo", sans-serif;
    //background-image: url('../../../dist/assets/images/mobile/image-host.jpg');
}

.bg-img {

    background-image: url('../../../dist/assets/images/mobile/image-host.jpg');
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -2;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #121725;
        opacity: .8;
        z-index: -1;
    }
}

header {

    .logo {
        //border: 1px dashed red;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

}

.hero {

    .heading {
        font-size: 26px;
        line-height: 38px;
        color: #54e6af;
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .heading-1 {
        color: #54e6af;
    }

    .heading-2 {
        font-size: 26px;
        line-height: 38px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .sub-text {
        width: 80vw;
        color: #c2cbe5;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin: auto;
    }

    .icons {
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        img {
            width: auto;
            height: 15px;
        }
    }

    .form-container {
        width: 80%;
        margin: auto;

        form {
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;

            input {
                width: 100%;
                background-color: #2C344B;
                padding: 18px 24px;
                color: #fff;
                font-weight: 700;
                margin: 10px;
                border: none;
                border-radius: 28px;

            }

            button {
                width: 100%;
                background-color: #54E6AF;
                color: #121725;
                font-size: 14px;
                font-weight: 700;
                padding: 15px 0;
                margin: 10px;
                border: none;
                border-radius: 28px;

            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 376px) {

    body {
        background-color: #121725;
    }

    .bg-img {

        background-image: url('../../../dist/assets/images/tablet/image-host.jpg');
        background-position: right;
        background-repeat: no-repeat;

        .overlay {
            visibility: hidden;
        }
    }

    header {

        .logo {
            //border: 1px dashed red;
            justify-content: left;
            margin: 40px 0 0 40px;
        }

    }

    .hero {
        background-color: #121725;
        width: 635px;
        height: 510px;
        padding: 40px 0 0 20px;

        .heading {
            font-size: 48px;
            line-height: 56px;
            text-align: left;
        }

        .heading-1 {
            font-size: 48px;
        }

        .heading-2 {
            font-size: 48px;
        }

        .sub-text {
            margin-left: 0;
            text-align: left;
            width: 60%;
        }

        .icons {

            display: table-footer-group; // switch position with .form-container
        }

        .form-container {
            width: 80%;
            margin: auto;
            display: table-header-group; // switch position with .icons

            form {
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                input {}

                button {}
            }
        }
    }


}