// Desktop
@media screen and (min-width: 769px) {

    header {

        .header-container {
            padding: 25px 0;

            .hamburger-icon {
                visibility: hidden;
                height: 0;
                width: 0;

                position: absolute; // so the logo can move close to the left border of the container
            }

            .logo {
                width: 25%;
                text-align: left;
            }

            .nav-desktop {
                visibility: visible;
                height: unset;
                position: unset;
                width: 42%;

                ul {
                    display: flex;

                    li {
                        padding: 0 10px;

                        a {
                            color: #fff;

                            &:hover {
                                color: #d87d4a;
                            }
                        }
                    }

                }
            }
        }
    }

    .hero {

        .hero-message {

            width: 60%;
            margin-top: 15%;
            margin-left: 5%;

            .hero-message-container {
                text-align: left;
                padding: 0;
                margin: unset;

                .hero-sub-heading {
                    margin: 0;
                    margin-bottom: 15px;
                }

                .hero-heading {
                    font-size: 56px;
                    line-height: 68px;
                    letter-spacing: 2px;
                }

                .hero-subtext {
                    margin: 25px 0;
                    width: 80%;
                }

                .hero-button {
                    margin: 0;
                }

            }
        }
    }

    .categories-section {

        .categories-card-container {
            flex-direction: row;
            justify-content: space-between;
            width: 75vw;

            .category-card {
                width: 32%;
                margin: 0;
                min-height: 200px;
            }
        }

    }

    .featured-products-section {

        .featured-product-1 {
            width: 75vw;
            max-height: 560px;

            .bg-image {
                height: 560px;
                background-size: 90%;
                background-position: bottom -320px left -120px;
                background-repeat: no-repeat;
                object-fit: contain;

            }
        }
    }
}