// Desktop
@media screen and (min-width: 769px) {
    header {

        .header-container {

            .hamburger-icon {
                visibility: hidden;
                height: 0;
                width: 0;
            }

            .logo {
                width: 25%;
                text-align: left;
            }

            .nav-desktop {
                visibility: visible;
                height: unset;
                position: unset;
                width: 42%;

                ul {
                    display: flex;

                    li {
                        padding: 0 10px;
                    }

                }
            }
        }
    }

    .hero {
        position: relative;

    }
}