// Desktop
@media screen and (min-width: 769px) {
    header {

        .header-container {
            padding: 25px 0;

            .hamburger-icon {
                visibility: hidden;
                height: 0;
                width: 0;

                position: absolute; // so the logo can move close to the left border of the container
            }

            .logo {
                width: 25%;
                text-align: left;
            }

            .nav-desktop {
                visibility: visible;
                height: unset;
                position: unset;
                width: 42%;

                ul {
                    display: flex;

                    li {
                        padding: 0 10px;

                        a {
                            color: #fff;

                            &:hover {
                                color: #d87d4a;
                            }
                        }
                    }

                }
            }
        }
    }

    .hero {
        position: relative;

    }
}