header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #979797;
    background-color: #191919;
    color: #fff;
    padding: 35px 20px;

    .nav-desktop {
        visibility: hidden;
        height: 0;
        position: absolute; // my hack to make the header properly aligned
    }

}

.hero {
    border: 1px dashed rgb(255, 0, 0);
    position: relative;

    img {
        width: 100vw;
        object-fit: contain;
        z-index: -1;
    }

    .hero-message {
        position: absolute;
        top: 0;
        border: 1px dashed rgb(102, 101, 101);
        text-align: center;
        width: 100%;
        margin-top: 50%;

        .hero-message-container {
            border: 1px dashed rgb(102, 101, 101);
            text-align: center;
            width: 100%;
            padding: 20px;
            margin: auto;

            .hero-sub-heading {
                color: rgba(255, 255, 255, .5);
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 10px;
                margin: 15px;
            }

            .hero-heading {
                color: rgba(255, 255, 255);
                text-transform: uppercase;
                font-size: 36px;
                font-weight: 700;
                letter-spacing: 1.29px;
                line-height: 40px;
            }

            .hero-subtext {
                color: rgba(255, 255, 255, .75);
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                margin: 25px;
            }

            .hero-button {
                background-color: #d87d4a;
                width: 160px;
                padding: 10px 30px;
                margin: auto;

                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }

    }
}