// Tablet
// header is the same as in mobile layout.
@media screen and (min-width: 376px) {
    .hero {
        .hero-message {
            margin-top: 25%;

            .hero-message-container {
                width: 60%;

                .hero-heading {
                    font-size: 56px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    line-height: 58px;
                }

                .hero-subtext {
                    margin: 35px 25px;
                }
            }
        }
    }

    .categories-section {
        flex-direction: row;
        justify-content: center;

        .categories-card-container {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin-top: 100px;

            .category-card {
                margin: 10px;
            }
        }
    }

    .featured-products-section {
        .featured-product-1 {
            max-height: 720px;

            .bg-image {
                background-size: 150%;
                background-position: center -380px;
            }

            .featured-product-texts {
                top: 45%;

                .featured-product-heading {
                    font-size: 56px;
                    letter-spacing: 2px;
                    line-height: 58px;
                    width: 50%;
                }

                .featured-product-subtext {
                    width: 50%;
                }

                .featured-product-button {
                    margin-top: 50px;
                }
            }
        }
    }



}